<%= stylesheet_link_tag "girls", :media => "all" %>

<p id="notice"><%= notice %></p>

<h1>this is a girl list</h1>

<table>
  <thead>
    <tr>
      <th>姓名</th>
      <th>数量</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>


    <% @girls.each do |gg| %>
      <tr>
        <td><%= gg.name %></td>
        <td><%= gg.number %></td>
        <td><%= link_to 'Show', gg %></td>
        <td><%= link_to 'Edit', edit_girl_path(gg) %></td>
        <td><%= link_to 'Destroy', gg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Girl', new_girl_path %>
